/*variables*/

$GothamRegular: 'GothamPro_Regular'
$GothamMedium: 'GothamPro_Medium'
$GothamBold: 'GothamPro_Bold'
$GothamBlack: 'GothamPro_Black'
$GothamLight: 'GothamPro_Light'

/*variables*/


/*txt*/
//txt
$white: #fff
$grey: #676767
$blue: #269ed8
$yelow: #ffb103
$red: #d70808
$greyp: #e6e6e6
$light-grey: #aba9ab
$orange: #ff960a

$greyPipe: (lighten($light-grey, 25%))
$shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15)
$whiteTxt: $white
$greyTxt: $grey
$blueTxt: $blue
$yelowTxt: $yelow
$redTxt: $red

$border-radius: 14px
$button-border-radius: 10px


$lg-holder: 1170px
$md-holder: 900px
$sm-holder: 750px
$xs-holder: 320px

