/*variables*/

$GothamRegular: 'GothamPro_Regular'
$GothamMedium: 'GothamPro_Medium'
$GothamBold: 'GothamPro_Bold'
$GothamBlack: 'GothamPro_Black'
$GothamLight: 'GothamPro_Light'

/*variables*/


/*txt*/
//txt
$whiteTxt: #fff
$greyTxt: rgb(103, 103, 103)
$blueTxt: rgb(38, 158, 216)
$yelowTxt: #ffb103
$redTxt: #d70808