// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$-arthur-c-clarke-name: 'Arthur-C-Clarke'
$-arthur-c-clarke-x: 0px
$-arthur-c-clarke-y: 2422px
$-arthur-c-clarke-offset-x: 0px
$-arthur-c-clarke-offset-y: -2422px
$-arthur-c-clarke-width: 282px
$-arthur-c-clarke-height: 270px
$-arthur-c-clarke-total-width: 1920px
$-arthur-c-clarke-total-height: 15820px
$-arthur-c-clarke-image: 'bg.png'
$-arthur-c-clarke: (0px, 2422px, 0px, -2422px, 282px, 270px, 1920px, 15820px, 'bg.png', 'Arthur-C-Clarke', )
$-linus-torvalds-name: 'Linus-Torvalds'
$-linus-torvalds-x: 0px
$-linus-torvalds-y: 3292px
$-linus-torvalds-offset-x: 0px
$-linus-torvalds-offset-y: -3292px
$-linus-torvalds-width: 282px
$-linus-torvalds-height: 270px
$-linus-torvalds-total-width: 1920px
$-linus-torvalds-total-height: 15820px
$-linus-torvalds-image: 'bg.png'
$-linus-torvalds: (0px, 3292px, 0px, -3292px, 282px, 270px, 1920px, 15820px, 'bg.png', 'Linus-Torvalds', )
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-name: 'RICHARD-STALLMAN'
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-x: 0px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-y: 3002px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-offset-x: 0px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-offset-y: -3002px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-width: 282px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-height: 270px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-total-width: 1920px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-total-height: 15820px
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n-image: 'bg.png'
$-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n: (0px, 3002px, 0px, -3002px, 282px, 270px, 1920px, 15820px, 'bg.png', 'RICHARD-STALLMAN', )
$-rectangle-6-name: 'Rectangle 6'
$-rectangle-6-x: 0px
$-rectangle-6-y: 4891px
$-rectangle-6-offset-x: 0px
$-rectangle-6-offset-y: -4891px
$-rectangle-6-width: 370px
$-rectangle-6-height: 364px
$-rectangle-6-total-width: 1920px
$-rectangle-6-total-height: 15820px
$-rectangle-6-image: 'bg.png'
$-rectangle-6: (0px, 4891px, 0px, -4891px, 370px, 364px, 1920px, 15820px, 'bg.png', 'Rectangle 6', )
$blue-retangle-city-bg-name: 'blue_retangle_city_bg'
$blue-retangle-city-bg-x: 0px
$blue-retangle-city-bg-y: 9670px
$blue-retangle-city-bg-offset-x: 0px
$blue-retangle-city-bg-offset-y: -9670px
$blue-retangle-city-bg-width: 1920px
$blue-retangle-city-bg-height: 560px
$blue-retangle-city-bg-total-width: 1920px
$blue-retangle-city-bg-total-height: 15820px
$blue-retangle-city-bg-image: 'bg.png'
$blue-retangle-city-bg: (0px, 9670px, 0px, -9670px, 1920px, 560px, 1920px, 15820px, 'bg.png', 'blue_retangle_city_bg', )
$blue-retangle-city-bg-mob-name: 'blue_retangle_city_bg_mob'
$blue-retangle-city-bg-mob-x: 0px
$blue-retangle-city-bg-mob-y: 6623px
$blue-retangle-city-bg-mob-offset-x: 0px
$blue-retangle-city-bg-mob-offset-y: -6623px
$blue-retangle-city-bg-mob-width: 935px
$blue-retangle-city-bg-mob-height: 460px
$blue-retangle-city-bg-mob-total-width: 1920px
$blue-retangle-city-bg-mob-total-height: 15820px
$blue-retangle-city-bg-mob-image: 'bg.png'
$blue-retangle-city-bg-mob: (0px, 6623px, 0px, -6623px, 935px, 460px, 1920px, 15820px, 'bg.png', 'blue_retangle_city_bg_mob', )
$blue-retangle-city-bg-tab-name: 'blue_retangle_city_bg_tab'
$blue-retangle-city-bg-tab-x: 0px
$blue-retangle-city-bg-tab-y: 9090px
$blue-retangle-city-bg-tab-offset-x: 0px
$blue-retangle-city-bg-tab-offset-y: -9090px
$blue-retangle-city-bg-tab-width: 815px
$blue-retangle-city-bg-tab-height: 560px
$blue-retangle-city-bg-tab-total-width: 1920px
$blue-retangle-city-bg-tab-total-height: 15820px
$blue-retangle-city-bg-tab-image: 'bg.png'
$blue-retangle-city-bg-tab: (0px, 9090px, 0px, -9090px, 815px, 560px, 1920px, 15820px, 'bg.png', 'blue_retangle_city_bg_tab', )
$bussines-yellow-bg-name: 'bussines_yellow_bg'
$bussines-yellow-bg-x: 0px
$bussines-yellow-bg-y: 1872px
$bussines-yellow-bg-offset-x: 0px
$bussines-yellow-bg-offset-y: -1872px
$bussines-yellow-bg-width: 500px
$bussines-yellow-bg-height: 254px
$bussines-yellow-bg-total-width: 1920px
$bussines-yellow-bg-total-height: 15820px
$bussines-yellow-bg-image: 'bg.png'
$bussines-yellow-bg: (0px, 1872px, 0px, -1872px, 500px, 254px, 1920px, 15820px, 'bg.png', 'bussines_yellow_bg', )
$bussines-yellow-bg-mob-name: 'bussines_yellow_bg_mob'
$bussines-yellow-bg-mob-x: 0px
$bussines-yellow-bg-mob-y: 651px
$bussines-yellow-bg-mob-offset-x: 0px
$bussines-yellow-bg-mob-offset-y: -651px
$bussines-yellow-bg-mob-width: 342px
$bussines-yellow-bg-mob-height: 180px
$bussines-yellow-bg-mob-total-width: 1920px
$bussines-yellow-bg-mob-total-height: 15820px
$bussines-yellow-bg-mob-image: 'bg.png'
$bussines-yellow-bg-mob: (0px, 651px, 0px, -651px, 342px, 180px, 1920px, 15820px, 'bg.png', 'bussines_yellow_bg_mob', )
$bussines-yellow-bg-tab-name: 'bussines_yellow_bg_tab'
$bussines-yellow-bg-tab-x: 0px
$bussines-yellow-bg-tab-y: 2146px
$bussines-yellow-bg-tab-offset-x: 0px
$bussines-yellow-bg-tab-offset-y: -2146px
$bussines-yellow-bg-tab-width: 370px
$bussines-yellow-bg-tab-height: 256px
$bussines-yellow-bg-tab-total-width: 1920px
$bussines-yellow-bg-tab-total-height: 15820px
$bussines-yellow-bg-tab-image: 'bg.png'
$bussines-yellow-bg-tab: (0px, 2146px, 0px, -2146px, 370px, 256px, 1920px, 15820px, 'bg.png', 'bussines_yellow_bg_tab', )
$city-bg-name: 'city_bg'
$city-bg-x: 0px
$city-bg-y: 10250px
$city-bg-offset-x: 0px
$city-bg-offset-y: -10250px
$city-bg-width: 1920px
$city-bg-height: 560px
$city-bg-total-width: 1920px
$city-bg-total-height: 15820px
$city-bg-image: 'bg.png'
$city-bg: (0px, 10250px, 0px, -10250px, 1920px, 560px, 1920px, 15820px, 'bg.png', 'city_bg', )
$cost-bg-days-name: 'cost_bg_days'
$cost-bg-days-x: 0px
$cost-bg-days-y: 3582px
$cost-bg-days-offset-x: 0px
$cost-bg-days-offset-y: -3582px
$cost-bg-days-width: 1170px
$cost-bg-days-height: 301px
$cost-bg-days-total-width: 1920px
$cost-bg-days-total-height: 15820px
$cost-bg-days-image: 'bg.png'
$cost-bg-days: (0px, 3582px, 0px, -3582px, 1170px, 301px, 1920px, 15820px, 'bg.png', 'cost_bg_days', )
$cost-bg-days-mob-name: 'cost_bg_days_mob'
$cost-bg-days-mob-x: 0px
$cost-bg-days-mob-y: 305px
$cost-bg-days-mob-offset-x: 0px
$cost-bg-days-mob-offset-y: -305px
$cost-bg-days-mob-width: 343px
$cost-bg-days-mob-height: 138px
$cost-bg-days-mob-total-width: 1920px
$cost-bg-days-mob-total-height: 15820px
$cost-bg-days-mob-image: 'bg.png'
$cost-bg-days-mob: (0px, 305px, 0px, -305px, 343px, 138px, 1920px, 15820px, 'bg.png', 'cost_bg_days_mob', )
$cost-bg-days-tab-name: 'cost_bg_days_tab'
$cost-bg-days-tab-x: 0px
$cost-bg-days-tab-y: 3903px
$cost-bg-days-tab-offset-x: 0px
$cost-bg-days-tab-offset-y: -3903px
$cost-bg-days-tab-width: 770px
$cost-bg-days-tab-height: 308px
$cost-bg-days-tab-total-width: 1920px
$cost-bg-days-tab-total-height: 15820px
$cost-bg-days-tab-image: 'bg.png'
$cost-bg-days-tab: (0px, 3903px, 0px, -3903px, 770px, 308px, 1920px, 15820px, 'bg.png', 'cost_bg_days_tab', )
$first-page-bg-blueline-mob-name: 'first_page_bg_blueline-mob'
$first-page-bg-blueline-mob-x: 0px
$first-page-bg-blueline-mob-y: 10830px
$first-page-bg-blueline-mob-offset-x: 0px
$first-page-bg-blueline-mob-offset-y: -10830px
$first-page-bg-blueline-mob-width: 793px
$first-page-bg-blueline-mob-height: 594px
$first-page-bg-blueline-mob-total-width: 1920px
$first-page-bg-blueline-mob-total-height: 15820px
$first-page-bg-blueline-mob-image: 'bg.png'
$first-page-bg-blueline-mob: (0px, 10830px, 0px, -10830px, 793px, 594px, 1920px, 15820px, 'bg.png', 'first_page_bg_blueline-mob', )
$first-page-bg-blueline-tablet-name: 'first_page_bg_blueline-tablet'
$first-page-bg-blueline-tablet-x: 0px
$first-page-bg-blueline-tablet-y: 12064px
$first-page-bg-blueline-tablet-offset-x: 0px
$first-page-bg-blueline-tablet-offset-y: -12064px
$first-page-bg-blueline-tablet-width: 1460px
$first-page-bg-blueline-tablet-height: 924px
$first-page-bg-blueline-tablet-total-width: 1920px
$first-page-bg-blueline-tablet-total-height: 15820px
$first-page-bg-blueline-tablet-image: 'bg.png'
$first-page-bg-blueline-tablet: (0px, 12064px, 0px, -12064px, 1460px, 924px, 1920px, 15820px, 'bg.png', 'first_page_bg_blueline-tablet', )
$first-page-bg-blueline-name: 'first_page_bg_blueline'
$first-page-bg-blueline-x: 0px
$first-page-bg-blueline-y: 13008px
$first-page-bg-blueline-offset-x: 0px
$first-page-bg-blueline-offset-y: -13008px
$first-page-bg-blueline-width: 1673px
$first-page-bg-blueline-height: 924px
$first-page-bg-blueline-total-width: 1920px
$first-page-bg-blueline-total-height: 15820px
$first-page-bg-blueline-image: 'bg.png'
$first-page-bg-blueline: (0px, 13008px, 0px, -13008px, 1673px, 924px, 1920px, 15820px, 'bg.png', 'first_page_bg_blueline', )
$first-page-bg-map-name: 'first_page_bg_map'
$first-page-bg-map-x: 0px
$first-page-bg-map-y: 13952px
$first-page-bg-map-offset-x: 0px
$first-page-bg-map-offset-y: -13952px
$first-page-bg-map-width: 1920px
$first-page-bg-map-height: 924px
$first-page-bg-map-total-width: 1920px
$first-page-bg-map-total-height: 15820px
$first-page-bg-map-image: 'bg.png'
$first-page-bg-map: (0px, 13952px, 0px, -13952px, 1920px, 924px, 1920px, 15820px, 'bg.png', 'first_page_bg_map', )
$first-page-bg-map-mob-name: 'first_page_bg_map_mob'
$first-page-bg-map-mob-x: 0px
$first-page-bg-map-mob-y: 8067px
$first-page-bg-map-mob-offset-x: 0px
$first-page-bg-map-mob-offset-y: -8067px
$first-page-bg-map-mob-width: 1192px
$first-page-bg-map-mob-height: 476px
$first-page-bg-map-mob-total-width: 1920px
$first-page-bg-map-mob-total-height: 15820px
$first-page-bg-map-mob-image: 'bg.png'
$first-page-bg-map-mob: (0px, 8067px, 0px, -8067px, 1192px, 476px, 1920px, 15820px, 'bg.png', 'first_page_bg_map_mob', )
$first-page-bg-map-tab-name: 'first_page_bg_map_tab'
$first-page-bg-map-tab-x: 0px
$first-page-bg-map-tab-y: 14896px
$first-page-bg-map-tab-offset-x: 0px
$first-page-bg-map-tab-offset-y: -14896px
$first-page-bg-map-tab-width: 1386px
$first-page-bg-map-tab-height: 924px
$first-page-bg-map-tab-total-width: 1920px
$first-page-bg-map-tab-total-height: 15820px
$first-page-bg-map-tab-image: 'bg.png'
$first-page-bg-map-tab: (0px, 14896px, 0px, -14896px, 1386px, 924px, 1920px, 15820px, 'bg.png', 'first_page_bg_map_tab', )
$footer-blueline-logo-name: 'footer_blueline_logo'
$footer-blueline-logo-x: 0px
$footer-blueline-logo-y: 1054px
$footer-blueline-logo-offset-x: 0px
$footer-blueline-logo-offset-y: -1054px
$footer-blueline-logo-width: 531px
$footer-blueline-logo-height: 252px
$footer-blueline-logo-total-width: 1920px
$footer-blueline-logo-total-height: 15820px
$footer-blueline-logo-image: 'bg.png'
$footer-blueline-logo: (0px, 1054px, 0px, -1054px, 531px, 252px, 1920px, 15820px, 'bg.png', 'footer_blueline_logo', )
$footer-map-name: 'footer_map'
$footer-map-x: 0px
$footer-map-y: 5275px
$footer-map-offset-x: 0px
$footer-map-offset-y: -5275px
$footer-map-width: 1920px
$footer-map-height: 392px
$footer-map-total-width: 1920px
$footer-map-total-height: 15820px
$footer-map-image: 'bg.png'
$footer-map: (0px, 5275px, 0px, -5275px, 1920px, 392px, 1920px, 15820px, 'bg.png', 'footer_map', )
$hover-bg-icons-name: 'hover_bg_icons'
$hover-bg-icons-x: 0px
$hover-bg-icons-y: 11444px
$hover-bg-icons-offset-x: 0px
$hover-bg-icons-offset-y: -11444px
$hover-bg-icons-width: 455px
$hover-bg-icons-height: 600px
$hover-bg-icons-total-width: 1920px
$hover-bg-icons-total-height: 15820px
$hover-bg-icons-image: 'bg.png'
$hover-bg-icons: (0px, 11444px, 0px, -11444px, 455px, 600px, 1920px, 15820px, 'bg.png', 'hover_bg_icons', )
$hover-bg-icons-mob-blue-name: 'hover_bg_icons_mob_blue'
$hover-bg-icons-mob-blue-x: 0px
$hover-bg-icons-mob-blue-y: 7103px
$hover-bg-icons-mob-blue-offset-x: 0px
$hover-bg-icons-mob-blue-offset-y: -7103px
$hover-bg-icons-mob-blue-width: 370px
$hover-bg-icons-mob-blue-height: 462px
$hover-bg-icons-mob-blue-total-width: 1920px
$hover-bg-icons-mob-blue-total-height: 15820px
$hover-bg-icons-mob-blue-image: 'bg.png'
$hover-bg-icons-mob-blue: (0px, 7103px, 0px, -7103px, 370px, 462px, 1920px, 15820px, 'bg.png', 'hover_bg_icons_mob_blue', )
$hover-bg-icons-mob-yellow-name: 'hover_bg_icons_mob_yellow'
$hover-bg-icons-mob-yellow-x: 0px
$hover-bg-icons-mob-yellow-y: 7585px
$hover-bg-icons-mob-yellow-offset-x: 0px
$hover-bg-icons-mob-yellow-offset-y: -7585px
$hover-bg-icons-mob-yellow-width: 370px
$hover-bg-icons-mob-yellow-height: 462px
$hover-bg-icons-mob-yellow-total-width: 1920px
$hover-bg-icons-mob-yellow-total-height: 15820px
$hover-bg-icons-mob-yellow-image: 'bg.png'
$hover-bg-icons-mob-yellow: (0px, 7585px, 0px, -7585px, 370px, 462px, 1920px, 15820px, 'bg.png', 'hover_bg_icons_mob_yellow', )
$hover-bg-icons-tab-blue-name: 'hover_bg_icons_tab_blue'
$hover-bg-icons-tab-blue-x: 0px
$hover-bg-icons-tab-blue-y: 4561px
$hover-bg-icons-tab-blue-offset-x: 0px
$hover-bg-icons-tab-blue-offset-y: -4561px
$hover-bg-icons-tab-blue-width: 770px
$hover-bg-icons-tab-blue-height: 310px
$hover-bg-icons-tab-blue-total-width: 1920px
$hover-bg-icons-tab-blue-total-height: 15820px
$hover-bg-icons-tab-blue-image: 'bg.png'
$hover-bg-icons-tab-blue: (0px, 4561px, 0px, -4561px, 770px, 310px, 1920px, 15820px, 'bg.png', 'hover_bg_icons_tab_blue', )
$hover-bg-icons-tab-yellow-name: 'hover_bg_icons_tab_yellow'
$hover-bg-icons-tab-yellow-x: 0px
$hover-bg-icons-tab-yellow-y: 4231px
$hover-bg-icons-tab-yellow-offset-x: 0px
$hover-bg-icons-tab-yellow-offset-y: -4231px
$hover-bg-icons-tab-yellow-width: 771px
$hover-bg-icons-tab-yellow-height: 310px
$hover-bg-icons-tab-yellow-total-width: 1920px
$hover-bg-icons-tab-yellow-total-height: 15820px
$hover-bg-icons-tab-yellow-image: 'bg.png'
$hover-bg-icons-tab-yellow: (0px, 4231px, 0px, -4231px, 771px, 310px, 1920px, 15820px, 'bg.png', 'hover_bg_icons_tab_yellow', )
$hover-bg-speakers-name: 'hover_bg_speakers'
$hover-bg-speakers-x: 0px
$hover-bg-speakers-y: 8563px
$hover-bg-speakers-offset-x: 0px
$hover-bg-speakers-offset-y: -8563px
$hover-bg-speakers-width: 290px
$hover-bg-speakers-height: 507px
$hover-bg-speakers-total-width: 1920px
$hover-bg-speakers-total-height: 15820px
$hover-bg-speakers-image: 'bg.png'
$hover-bg-speakers: (0px, 8563px, 0px, -8563px, 290px, 507px, 1920px, 15820px, 'bg.png', 'hover_bg_speakers', )
$it-blue-bg-tab-name: 'it_blue_bg-tab'
$it-blue-bg-tab-x: 0px
$it-blue-bg-tab-y: 1599px
$it-blue-bg-tab-offset-x: 0px
$it-blue-bg-tab-offset-y: -1599px
$it-blue-bg-tab-width: 370px
$it-blue-bg-tab-height: 253px
$it-blue-bg-tab-total-width: 1920px
$it-blue-bg-tab-total-height: 15820px
$it-blue-bg-tab-image: 'bg.png'
$it-blue-bg-tab: (0px, 1599px, 0px, -1599px, 370px, 253px, 1920px, 15820px, 'bg.png', 'it_blue_bg-tab', )
$it-blue-bg-name: 'it_blue_bg'
$it-blue-bg-x: 0px
$it-blue-bg-y: 1326px
$it-blue-bg-offset-x: 0px
$it-blue-bg-offset-y: -1326px
$it-blue-bg-width: 500px
$it-blue-bg-height: 253px
$it-blue-bg-total-width: 1920px
$it-blue-bg-total-height: 15820px
$it-blue-bg-image: 'bg.png'
$it-blue-bg: (0px, 1326px, 0px, -1326px, 500px, 253px, 1920px, 15820px, 'bg.png', 'it_blue_bg', )
$it-blue-gb-mob-name: 'it_blue_gb_mob'
$it-blue-gb-mob-x: 0px
$it-blue-gb-mob-y: 851px
$it-blue-gb-mob-offset-x: 0px
$it-blue-gb-mob-offset-y: -851px
$it-blue-gb-mob-width: 344px
$it-blue-gb-mob-height: 183px
$it-blue-gb-mob-total-width: 1920px
$it-blue-gb-mob-total-height: 15820px
$it-blue-gb-mob-image: 'bg.png'
$it-blue-gb-mob: (0px, 851px, 0px, -851px, 344px, 183px, 1920px, 15820px, 'bg.png', 'it_blue_gb_mob', )
$others-name: 'others'
$others-x: 0px
$others-y: 463px
$others-offset-x: 0px
$others-offset-y: -463px
$others-width: 170px
$others-height: 168px
$others-total-width: 1920px
$others-total-height: 15820px
$others-image: 'bg.png'
$others: (0px, 463px, 0px, -463px, 170px, 168px, 1920px, 15820px, 'bg.png', 'others', )
$scnd-page-bg-blue-retangle-name: 'scnd_page_bg_blue_retangle'
$scnd-page-bg-blue-retangle-x: 0px
$scnd-page-bg-blue-retangle-y: 6155px
$scnd-page-bg-blue-retangle-offset-x: 0px
$scnd-page-bg-blue-retangle-offset-y: -6155px
$scnd-page-bg-blue-retangle-width: 1920px
$scnd-page-bg-blue-retangle-height: 448px
$scnd-page-bg-blue-retangle-total-width: 1920px
$scnd-page-bg-blue-retangle-total-height: 15820px
$scnd-page-bg-blue-retangle-image: 'bg.png'
$scnd-page-bg-blue-retangle: (0px, 6155px, 0px, -6155px, 1920px, 448px, 1920px, 15820px, 'bg.png', 'scnd_page_bg_blue_retangle', )
$scnd-page-bg-grey-retangle-name: 'scnd_page_bg_grey_retangle'
$scnd-page-bg-grey-retangle-x: 0px
$scnd-page-bg-grey-retangle-y: 5687px
$scnd-page-bg-grey-retangle-offset-x: 0px
$scnd-page-bg-grey-retangle-offset-y: -5687px
$scnd-page-bg-grey-retangle-width: 1920px
$scnd-page-bg-grey-retangle-height: 448px
$scnd-page-bg-grey-retangle-total-width: 1920px
$scnd-page-bg-grey-retangle-total-height: 15820px
$scnd-page-bg-grey-retangle-image: 'bg.png'
$scnd-page-bg-grey-retangle: (0px, 5687px, 0px, -5687px, 1920px, 448px, 1920px, 15820px, 'bg.png', 'scnd_page_bg_grey_retangle', )
$subscription-bg-name: 'subscription_bg'
$subscription-bg-x: 0px
$subscription-bg-y: 173px
$subscription-bg-offset-x: 0px
$subscription-bg-offset-y: -173px
$subscription-bg-width: 1920px
$subscription-bg-height: 112px
$subscription-bg-total-width: 1920px
$subscription-bg-total-height: 15820px
$subscription-bg-image: 'bg.png'
$subscription-bg: (0px, 173px, 0px, -173px, 1920px, 112px, 1920px, 15820px, 'bg.png', 'subscription_bg', )
$tim-berners-lee-name: 'tim-berners-lee'
$tim-berners-lee-x: 0px
$tim-berners-lee-y: 2712px
$tim-berners-lee-offset-x: 0px
$tim-berners-lee-offset-y: -2712px
$tim-berners-lee-width: 282px
$tim-berners-lee-height: 270px
$tim-berners-lee-total-width: 1920px
$tim-berners-lee-total-height: 15820px
$tim-berners-lee-image: 'bg.png'
$tim-berners-lee: (0px, 2712px, 0px, -2712px, 282px, 270px, 1920px, 15820px, 'bg.png', 'tim-berners-lee', )
$timer-name: 'timer'
$timer-x: 0px
$timer-y: 45px
$timer-offset-x: 0px
$timer-offset-y: -45px
$timer-width: 1920px
$timer-height: 108px
$timer-total-width: 1920px
$timer-total-height: 15820px
$timer-image: 'bg.png'
$timer: (0px, 45px, 0px, -45px, 1920px, 108px, 1920px, 15820px, 'bg.png', 'timer', )
$where-blue-bg-name: 'where_blue_bg'
$where-blue-bg-x: 0px
$where-blue-bg-y: 0px
$where-blue-bg-offset-x: 0px
$where-blue-bg-offset-y: 0px
$where-blue-bg-width: 1920px
$where-blue-bg-height: 25px
$where-blue-bg-total-width: 1920px
$where-blue-bg-total-height: 15820px
$where-blue-bg-image: 'bg.png'
$where-blue-bg: (0px, 0px, 0px, 0px, 1920px, 25px, 1920px, 15820px, 'bg.png', 'where_blue_bg', )
$spritesheet-width: 1920px
$spritesheet-height: 15820px
$spritesheet-image: 'bg.png'
$spritesheet-sprites: ($-arthur-c-clarke, $-linus-torvalds, $-r-i-c-h-a-r-d-s-t-a-l-l-m-a-n, $-rectangle-6, $blue-retangle-city-bg, $blue-retangle-city-bg-mob, $blue-retangle-city-bg-tab, $bussines-yellow-bg, $bussines-yellow-bg-mob, $bussines-yellow-bg-tab, $city-bg, $cost-bg-days, $cost-bg-days-mob, $cost-bg-days-tab, $first-page-bg-blueline-mob, $first-page-bg-blueline-tablet, $first-page-bg-blueline, $first-page-bg-map, $first-page-bg-map-mob, $first-page-bg-map-tab, $footer-blueline-logo, $footer-map, $hover-bg-icons, $hover-bg-icons-mob-blue, $hover-bg-icons-mob-yellow, $hover-bg-icons-tab-blue, $hover-bg-icons-tab-yellow, $hover-bg-speakers, $it-blue-bg-tab, $it-blue-bg, $it-blue-gb-mob, $others, $scnd-page-bg-blue-retangle, $scnd-page-bg-grey-retangle, $subscription-bg, $tim-berners-lee, $timer, $where-blue-bg, )
$spritesheet: (1920px, 15820px, 'bg.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
