// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the iconSpritesheet itself
// $iconSpritesheet: width height image $iconSpritesheet-iconSprites
$-blue-triangle-left-name: 'Blue_triangle_left'
$-blue-triangle-left-x: 0px
$-blue-triangle-left-y: 2333px
$-blue-triangle-left-offset-x: 0px
$-blue-triangle-left-offset-y: -2333px
$-blue-triangle-left-width: 109px
$-blue-triangle-left-height: 113px
$-blue-triangle-left-total-width: 191px
$-blue-triangle-left-total-height: 4755px
$-blue-triangle-left-image: '../img/icons.png'
$-blue-triangle-left: (0px, 2333px, 0px, -2333px, 109px, 113px, 191px, 4755px, '../img/icons.png', 'Blue_triangle_left', )
$-blue-triangle-right-name: 'Blue_triangle_right'
$-blue-triangle-right-x: 0px
$-blue-triangle-right-y: 2209px
$-blue-triangle-right-offset-x: 0px
$-blue-triangle-right-offset-y: -2209px
$-blue-triangle-right-width: 105px
$-blue-triangle-right-height: 104px
$-blue-triangle-right-total-width: 191px
$-blue-triangle-right-total-height: 4755px
$-blue-triangle-right-image: '../img/icons.png'
$-blue-triangle-right: (0px, 2209px, 0px, -2209px, 105px, 104px, 191px, 4755px, '../img/icons.png', 'Blue_triangle_right', )
$-blue-triangle-top-name: 'Blue_triangle_top'
$-blue-triangle-top-x: 0px
$-blue-triangle-top-y: 3376px
$-blue-triangle-top-offset-x: 0px
$-blue-triangle-top-offset-y: -3376px
$-blue-triangle-top-width: 141px
$-blue-triangle-top-height: 147px
$-blue-triangle-top-total-width: 191px
$-blue-triangle-top-total-height: 4755px
$-blue-triangle-top-image: '../img/icons.png'
$-blue-triangle-top: (0px, 3376px, 0px, -3376px, 141px, 147px, 191px, 4755px, '../img/icons.png', 'Blue_triangle_top', )
$blue-pipe-name: 'blue_pipe'
$blue-pipe-x: 0px
$blue-pipe-y: 1516px
$blue-pipe-offset-x: 0px
$blue-pipe-offset-y: -1516px
$blue-pipe-width: 3px
$blue-pipe-height: 84px
$blue-pipe-total-width: 191px
$blue-pipe-total-height: 4755px
$blue-pipe-image: '../img/icons.png'
$blue-pipe: (0px, 1516px, 0px, -1516px, 3px, 84px, 191px, 4755px, '../img/icons.png', 'blue_pipe', )
$blue-triangle-pipe-name: 'blue_triangle_pipe'
$blue-triangle-pipe-x: 0px
$blue-triangle-pipe-y: 84px
$blue-triangle-pipe-offset-x: 0px
$blue-triangle-pipe-offset-y: -84px
$blue-triangle-pipe-width: 22px
$blue-triangle-pipe-height: 22px
$blue-triangle-pipe-total-width: 191px
$blue-triangle-pipe-total-height: 4755px
$blue-triangle-pipe-image: '../img/icons.png'
$blue-triangle-pipe: (0px, 84px, 0px, -84px, 22px, 22px, 191px, 4755px, '../img/icons.png', 'blue_triangle_pipe', )
$collapse-button-name: 'collapse-button'
$collapse-button-x: 0px
$collapse-button-y: 1209px
$collapse-button-offset-x: 0px
$collapse-button-offset-y: -1209px
$collapse-button-width: 79px
$collapse-button-height: 79px
$collapse-button-total-width: 191px
$collapse-button-total-height: 4755px
$collapse-button-image: '../img/icons.png'
$collapse-button: (0px, 1209px, 0px, -1209px, 79px, 79px, 191px, 4755px, '../img/icons.png', 'collapse-button', )
$collapse-close-name: 'collapse-close'
$collapse-close-x: 0px
$collapse-close-y: 1110px
$collapse-close-offset-x: 0px
$collapse-close-offset-y: -1110px
$collapse-close-width: 79px
$collapse-close-height: 79px
$collapse-close-total-width: 191px
$collapse-close-total-height: 4755px
$collapse-close-image: '../img/icons.png'
$collapse-close: (0px, 1110px, 0px, -1110px, 79px, 79px, 191px, 4755px, '../img/icons.png', 'collapse-close', )
$depositphotos-name: 'depositphotos'
$depositphotos-x: 0px
$depositphotos-y: 597px
$depositphotos-offset-x: 0px
$depositphotos-offset-y: -597px
$depositphotos-width: 101px
$depositphotos-height: 60px
$depositphotos-total-width: 191px
$depositphotos-total-height: 4755px
$depositphotos-image: '../img/icons.png'
$depositphotos: (0px, 597px, 0px, -597px, 101px, 60px, 191px, 4755px, '../img/icons.png', 'depositphotos', )
$facebook-name: 'facebook'
$facebook-x: 0px
$facebook-y: 210px
$facebook-offset-x: 0px
$facebook-offset-y: -210px
$facebook-width: 11px
$facebook-height: 22px
$facebook-total-width: 191px
$facebook-total-height: 4755px
$facebook-image: '../img/icons.png'
$facebook: (0px, 210px, 0px, -210px, 11px, 22px, 191px, 4755px, '../img/icons.png', 'facebook', )
$growthup-logo-name: 'growthup_logo'
$growthup-logo-x: 0px
$growthup-logo-y: 517px
$growthup-logo-offset-x: 0px
$growthup-logo-offset-y: -517px
$growthup-logo-width: 145px
$growthup-logo-height: 60px
$growthup-logo-total-width: 191px
$growthup-logo-total-height: 4755px
$growthup-logo-image: '../img/icons.png'
$growthup-logo: (0px, 517px, 0px, -517px, 145px, 60px, 191px, 4755px, '../img/icons.png', 'growthup_logo', )
$hover-triangle-collapse-menu-name: 'hover-triangle-collapse-menu'
$hover-triangle-collapse-menu-x: 0px
$hover-triangle-collapse-menu-y: 837px
$hover-triangle-collapse-menu-offset-x: 0px
$hover-triangle-collapse-menu-offset-y: -837px
$hover-triangle-collapse-menu-width: 73px
$hover-triangle-collapse-menu-height: 71px
$hover-triangle-collapse-menu-total-width: 191px
$hover-triangle-collapse-menu-total-height: 4755px
$hover-triangle-collapse-menu-image: '../img/icons.png'
$hover-triangle-collapse-menu: (0px, 837px, 0px, -837px, 73px, 71px, 191px, 4755px, '../img/icons.png', 'hover-triangle-collapse-menu', )
$hover-triangle-left-name: 'hover_triangle_left'
$hover-triangle-left-x: 0px
$hover-triangle-left-y: 2466px
$hover-triangle-left-offset-x: 0px
$hover-triangle-left-offset-y: -2466px
$hover-triangle-left-width: 125px
$hover-triangle-left-height: 124px
$hover-triangle-left-total-width: 191px
$hover-triangle-left-total-height: 4755px
$hover-triangle-left-image: '../img/icons.png'
$hover-triangle-left: (0px, 2466px, 0px, -2466px, 125px, 124px, 191px, 4755px, '../img/icons.png', 'hover_triangle_left', )
$hover-triangle-right-name: 'hover_triangle_right'
$hover-triangle-right-x: 0px
$hover-triangle-right-y: 1849px
$hover-triangle-right-offset-x: 0px
$hover-triangle-right-offset-y: -1849px
$hover-triangle-right-width: 97px
$hover-triangle-right-height: 99px
$hover-triangle-right-total-width: 191px
$hover-triangle-right-total-height: 4755px
$hover-triangle-right-image: '../img/icons.png'
$hover-triangle-right: (0px, 1849px, 0px, -1849px, 97px, 99px, 191px, 4755px, '../img/icons.png', 'hover_triangle_right', )
$hover-triangle-top-name: 'hover_triangle_top'
$hover-triangle-top-x: 0px
$hover-triangle-top-y: 3215px
$hover-triangle-top-offset-x: 0px
$hover-triangle-top-offset-y: -3215px
$hover-triangle-top-width: 137px
$hover-triangle-top-height: 141px
$hover-triangle-top-total-width: 191px
$hover-triangle-top-total-height: 4755px
$hover-triangle-top-image: '../img/icons.png'
$hover-triangle-top: (0px, 3215px, 0px, -3215px, 137px, 141px, 191px, 4755px, '../img/icons.png', 'hover_triangle_top', )
$icon1-name: 'icon1'
$icon1-x: 0px
$icon1-y: 2912px
$icon1-offset-x: 0px
$icon1-offset-y: -2912px
$icon1-width: 134px
$icon1-height: 131px
$icon1-total-width: 191px
$icon1-total-height: 4755px
$icon1-image: '../img/icons.png'
$icon1: (0px, 2912px, 0px, -2912px, 134px, 131px, 191px, 4755px, '../img/icons.png', 'icon1', )
$icon2-name: 'icon2'
$icon2-x: 0px
$icon2-y: 2761px
$icon2-offset-x: 0px
$icon2-offset-y: -2761px
$icon2-width: 134px
$icon2-height: 131px
$icon2-total-width: 191px
$icon2-total-height: 4755px
$icon2-image: '../img/icons.png'
$icon2: (0px, 2761px, 0px, -2761px, 134px, 131px, 191px, 4755px, '../img/icons.png', 'icon2', )
$icon3-name: 'icon3'
$icon3-x: 0px
$icon3-y: 2610px
$icon3-offset-x: 0px
$icon3-offset-y: -2610px
$icon3-width: 134px
$icon3-height: 131px
$icon3-total-width: 191px
$icon3-total-height: 4755px
$icon3-image: '../img/icons.png'
$icon3: (0px, 2610px, 0px, -2610px, 134px, 131px, 191px, 4755px, '../img/icons.png', 'icon3', )
$icon-brain-hover-name: 'icon_brain_hover'
$icon-brain-hover-x: 0px
$icon-brain-hover-y: 4065px
$icon-brain-hover-offset-x: 0px
$icon-brain-hover-offset-y: -4065px
$icon-brain-hover-width: 153px
$icon-brain-hover-height: 154px
$icon-brain-hover-total-width: 191px
$icon-brain-hover-total-height: 4755px
$icon-brain-hover-image: '../img/icons.png'
$icon-brain-hover: (0px, 4065px, 0px, -4065px, 153px, 154px, 191px, 4755px, '../img/icons.png', 'icon_brain_hover', )
$icon-brain-mob-normal-name: 'icon_brain_mob_normal'
$icon-brain-mob-normal-x: 0px
$icon-brain-mob-normal-y: 2087px
$icon-brain-mob-normal-offset-x: 0px
$icon-brain-mob-normal-offset-y: -2087px
$icon-brain-mob-normal-width: 107px
$icon-brain-mob-normal-height: 102px
$icon-brain-mob-normal-total-width: 191px
$icon-brain-mob-normal-total-height: 4755px
$icon-brain-mob-normal-image: '../img/icons.png'
$icon-brain-mob-normal: (0px, 2087px, 0px, -2087px, 107px, 102px, 191px, 4755px, '../img/icons.png', 'icon_brain_mob_normal', )
$icon-brain-normal-name: 'icon_brain_normal'
$icon-brain-normal-x: 0px
$icon-brain-normal-y: 3717px
$icon-brain-normal-offset-x: 0px
$icon-brain-normal-offset-y: -3717px
$icon-brain-normal-width: 153px
$icon-brain-normal-height: 154px
$icon-brain-normal-total-width: 191px
$icon-brain-normal-total-height: 4755px
$icon-brain-normal-image: '../img/icons.png'
$icon-brain-normal: (0px, 3717px, 0px, -3717px, 153px, 154px, 191px, 4755px, '../img/icons.png', 'icon_brain_normal', )
$icon-brick-name: 'icon_brick'
$icon-brick-x: 0px
$icon-brick-y: 25px
$icon-brick-offset-x: 0px
$icon-brick-offset-y: -25px
$icon-brick-width: 16px
$icon-brick-height: 5px
$icon-brick-total-width: 191px
$icon-brick-total-height: 4755px
$icon-brick-image: '../img/icons.png'
$icon-brick: (0px, 25px, 0px, -25px, 16px, 5px, 191px, 4755px, '../img/icons.png', 'icon_brick', )
$icon-case-hover-name: 'icon_case_hover'
$icon-case-hover-x: 0px
$icon-case-hover-y: 4414px
$icon-case-hover-offset-x: 0px
$icon-case-hover-offset-y: -4414px
$icon-case-hover-width: 151px
$icon-case-hover-height: 155px
$icon-case-hover-total-width: 191px
$icon-case-hover-total-height: 4755px
$icon-case-hover-image: '../img/icons.png'
$icon-case-hover: (0px, 4414px, 0px, -4414px, 151px, 155px, 191px, 4755px, '../img/icons.png', 'icon_case_hover', )
$icon-case-mob-normal-name: 'icon_case_mob_normal'
$icon-case-mob-normal-x: 0px
$icon-case-mob-normal-y: 1968px
$icon-case-mob-normal-offset-x: 0px
$icon-case-mob-normal-offset-y: -1968px
$icon-case-mob-normal-width: 96px
$icon-case-mob-normal-height: 99px
$icon-case-mob-normal-total-width: 191px
$icon-case-mob-normal-total-height: 4755px
$icon-case-mob-normal-image: '../img/icons.png'
$icon-case-mob-normal: (0px, 1968px, 0px, -1968px, 96px, 99px, 191px, 4755px, '../img/icons.png', 'icon_case_mob_normal', )
$icon-case-normal-name: 'icon_case_normal'
$icon-case-normal-x: 0px
$icon-case-normal-y: 4239px
$icon-case-normal-offset-x: 0px
$icon-case-normal-offset-y: -4239px
$icon-case-normal-width: 151px
$icon-case-normal-height: 155px
$icon-case-normal-total-width: 191px
$icon-case-normal-total-height: 4755px
$icon-case-normal-image: '../img/icons.png'
$icon-case-normal: (0px, 4239px, 0px, -4239px, 151px, 155px, 191px, 4755px, '../img/icons.png', 'icon_case_normal', )
$icon-networking-hover-name: 'icon_networking_hover'
$icon-networking-hover-x: 0px
$icon-networking-hover-y: 3543px
$icon-networking-hover-offset-x: 0px
$icon-networking-hover-offset-y: -3543px
$icon-networking-hover-width: 150px
$icon-networking-hover-height: 154px
$icon-networking-hover-total-width: 191px
$icon-networking-hover-total-height: 4755px
$icon-networking-hover-image: '../img/icons.png'
$icon-networking-hover: (0px, 3543px, 0px, -3543px, 150px, 154px, 191px, 4755px, '../img/icons.png', 'icon_networking_hover', )
$icon-networking-mob-normal-name: 'icon_networking_mob_normal'
$icon-networking-mob-normal-x: 0px
$icon-networking-mob-normal-y: 1620px
$icon-networking-mob-normal-offset-x: 0px
$icon-networking-mob-normal-offset-y: -1620px
$icon-networking-mob-normal-width: 89px
$icon-networking-mob-normal-height: 91px
$icon-networking-mob-normal-total-width: 191px
$icon-networking-mob-normal-total-height: 4755px
$icon-networking-mob-normal-image: '../img/icons.png'
$icon-networking-mob-normal: (0px, 1620px, 0px, -1620px, 89px, 91px, 191px, 4755px, '../img/icons.png', 'icon_networking_mob_normal', )
$icon-networking-normal-name: 'icon_networking_normal'
$icon-networking-normal-x: 0px
$icon-networking-normal-y: 3891px
$icon-networking-normal-offset-x: 0px
$icon-networking-normal-offset-y: -3891px
$icon-networking-normal-width: 150px
$icon-networking-normal-height: 154px
$icon-networking-normal-total-width: 191px
$icon-networking-normal-total-height: 4755px
$icon-networking-normal-image: '../img/icons.png'
$icon-networking-normal: (0px, 3891px, 0px, -3891px, 150px, 154px, 191px, 4755px, '../img/icons.png', 'icon_networking_normal', )
$inner-page-small-yellow-triangle-name: 'inner-page-small-yellow-triangle'
$inner-page-small-yellow-triangle-x: 0px
$inner-page-small-yellow-triangle-y: 1731px
$inner-page-small-yellow-triangle-offset-x: 0px
$inner-page-small-yellow-triangle-offset-y: -1731px
$inner-page-small-yellow-triangle-width: 103px
$inner-page-small-yellow-triangle-height: 98px
$inner-page-small-yellow-triangle-total-width: 191px
$inner-page-small-yellow-triangle-total-height: 4755px
$inner-page-small-yellow-triangle-image: '../img/icons.png'
$inner-page-small-yellow-triangle: (0px, 1731px, 0px, -1731px, 103px, 98px, 191px, 4755px, '../img/icons.png', 'inner-page-small-yellow-triangle', )
$inner-page-yellow-triangle-name: 'inner-page-yellow-triangle'
$inner-page-yellow-triangle-x: 0px
$inner-page-yellow-triangle-y: 4589px
$inner-page-yellow-triangle-offset-x: 0px
$inner-page-yellow-triangle-offset-y: -4589px
$inner-page-yellow-triangle-width: 182px
$inner-page-yellow-triangle-height: 166px
$inner-page-yellow-triangle-total-width: 191px
$inner-page-yellow-triangle-total-height: 4755px
$inner-page-yellow-triangle-image: '../img/icons.png'
$inner-page-yellow-triangle: (0px, 4589px, 0px, -4589px, 182px, 166px, 191px, 4755px, '../img/icons.png', 'inner-page-yellow-triangle', )
$innerpage-arrow-in-blue-rectangle-name: 'innerpage-arrow-in-blue-rectangle'
$innerpage-arrow-in-blue-rectangle-x: 0px
$innerpage-arrow-in-blue-rectangle-y: 168px
$innerpage-arrow-in-blue-rectangle-offset-x: 0px
$innerpage-arrow-in-blue-rectangle-offset-y: -168px
$innerpage-arrow-in-blue-rectangle-width: 22px
$innerpage-arrow-in-blue-rectangle-height: 22px
$innerpage-arrow-in-blue-rectangle-total-width: 191px
$innerpage-arrow-in-blue-rectangle-total-height: 4755px
$innerpage-arrow-in-blue-rectangle-image: '../img/icons.png'
$innerpage-arrow-in-blue-rectangle: (0px, 168px, 0px, -168px, 22px, 22px, 191px, 4755px, '../img/icons.png', 'innerpage-arrow-in-blue-rectangle', )
$logo-name: 'logo'
$logo-x: 0px
$logo-y: 3063px
$logo-offset-x: 0px
$logo-offset-y: -3063px
$logo-width: 172px
$logo-height: 132px
$logo-total-width: 191px
$logo-total-height: 4755px
$logo-image: '../img/icons.png'
$logo: (0px, 3063px, 0px, -3063px, 172px, 132px, 191px, 4755px, '../img/icons.png', 'logo', )
$logo-mob-name: 'logo_mob'
$logo-mob-x: 0px
$logo-mob-y: 444px
$logo-mob-offset-x: 0px
$logo-mob-offset-y: -444px
$logo-mob-width: 70px
$logo-mob-height: 53px
$logo-mob-total-width: 191px
$logo-mob-total-height: 4755px
$logo-mob-image: '../img/icons.png'
$logo-mob: (0px, 444px, 0px, -444px, 70px, 53px, 191px, 4755px, '../img/icons.png', 'logo_mob', )
$logo-on-grey-retangle-name: 'logo_on_grey_retangle'
$logo-on-grey-retangle-x: 0px
$logo-on-grey-retangle-y: 387px
$logo-on-grey-retangle-offset-x: 0px
$logo-on-grey-retangle-offset-y: -387px
$logo-on-grey-retangle-width: 43px
$logo-on-grey-retangle-height: 37px
$logo-on-grey-retangle-total-width: 191px
$logo-on-grey-retangle-total-height: 4755px
$logo-on-grey-retangle-image: '../img/icons.png'
$logo-on-grey-retangle: (0px, 387px, 0px, -387px, 43px, 37px, 191px, 4755px, '../img/icons.png', 'logo_on_grey_retangle', )
$logo-tab-name: 'logo_tab'
$logo-tab-x: 0px
$logo-tab-y: 1412px
$logo-tab-offset-x: 0px
$logo-tab-offset-y: -1412px
$logo-tab-width: 110px
$logo-tab-height: 84px
$logo-tab-total-width: 191px
$logo-tab-total-height: 4755px
$logo-tab-image: '../img/icons.png'
$logo-tab: (0px, 1412px, 0px, -1412px, 110px, 84px, 191px, 4755px, '../img/icons.png', 'logo_tab', )
$mark-map-footer-name: 'mark_map_footer'
$mark-map-footer-x: 0px
$mark-map-footer-y: 677px
$mark-map-footer-offset-x: 0px
$mark-map-footer-offset-y: -677px
$mark-map-footer-width: 42px
$mark-map-footer-height: 60px
$mark-map-footer-total-width: 191px
$mark-map-footer-total-height: 4755px
$mark-map-footer-image: '../img/icons.png'
$mark-map-footer: (0px, 677px, 0px, -677px, 42px, 60px, 191px, 4755px, '../img/icons.png', 'mark_map_footer', )
$mark-on-map2-name: 'mark_on_map2'
$mark-on-map2-x: 0px
$mark-on-map2-y: 340px
$mark-on-map2-offset-x: 0px
$mark-on-map2-offset-y: -340px
$mark-on-map2-width: 20px
$mark-on-map2-height: 27px
$mark-on-map2-total-width: 191px
$mark-on-map2-total-height: 4755px
$mark-on-map2-image: '../img/icons.png'
$mark-on-map2: (0px, 340px, 0px, -340px, 20px, 27px, 191px, 4755px, '../img/icons.png', 'mark_on_map2', )
$mark-page2-name: 'mark_page2'
$mark-page2-x: 0px
$mark-page2-y: 294px
$mark-page2-offset-x: 0px
$mark-page2-offset-y: -294px
$mark-page2-width: 20px
$mark-page2-height: 26px
$mark-page2-total-width: 191px
$mark-page2-total-height: 4755px
$mark-page2-image: '../img/icons.png'
$mark-page2: (0px, 294px, 0px, -294px, 20px, 26px, 191px, 4755px, '../img/icons.png', 'mark_page2', )
$taventures-logo-name: 'taventures_logo'
$taventures-logo-x: 0px
$taventures-logo-y: 757px
$taventures-logo-offset-x: 0px
$taventures-logo-offset-y: -757px
$taventures-logo-width: 191px
$taventures-logo-height: 60px
$taventures-logo-total-width: 191px
$taventures-logo-total-height: 4755px
$taventures-logo-image: '../img/icons.png'
$taventures-logo: (0px, 757px, 0px, -757px, 191px, 60px, 191px, 4755px, '../img/icons.png', 'taventures_logo', )
$triangle-menu-active-name: 'triangle_menu_active'
$triangle-menu-active-x: 0px
$triangle-menu-active-y: 928px
$triangle-menu-active-offset-x: 0px
$triangle-menu-active-offset-y: -928px
$triangle-menu-active-width: 73px
$triangle-menu-active-height: 71px
$triangle-menu-active-total-width: 191px
$triangle-menu-active-total-height: 4755px
$triangle-menu-active-image: '../img/icons.png'
$triangle-menu-active: (0px, 928px, 0px, -928px, 73px, 71px, 191px, 4755px, '../img/icons.png', 'triangle_menu_active', )
$triangle-menu-hover-name: 'triangle_menu_hover'
$triangle-menu-hover-x: 0px
$triangle-menu-hover-y: 1019px
$triangle-menu-hover-offset-x: 0px
$triangle-menu-hover-offset-y: -1019px
$triangle-menu-hover-width: 73px
$triangle-menu-hover-height: 71px
$triangle-menu-hover-total-width: 191px
$triangle-menu-hover-total-height: 4755px
$triangle-menu-hover-image: '../img/icons.png'
$triangle-menu-hover: (0px, 1019px, 0px, -1019px, 73px, 71px, 191px, 4755px, '../img/icons.png', 'triangle_menu_hover', )
$tumblr-name: 'tumblr'
$tumblr-x: 0px
$tumblr-y: 126px
$tumblr-offset-x: 0px
$tumblr-offset-y: -126px
$tumblr-width: 13px
$tumblr-height: 22px
$tumblr-total-width: 191px
$tumblr-total-height: 4755px
$tumblr-image: '../img/icons.png'
$tumblr: (0px, 126px, 0px, -126px, 13px, 22px, 191px, 4755px, '../img/icons.png', 'tumblr', )
$vk-name: 'vk'
$vk-x: 0px
$vk-y: 50px
$vk-offset-x: 0px
$vk-offset-y: -50px
$vk-width: 25px
$vk-height: 14px
$vk-total-width: 191px
$vk-total-height: 4755px
$vk-image: '../img/icons.png'
$vk: (0px, 50px, 0px, -50px, 25px, 14px, 191px, 4755px, '../img/icons.png', 'vk', )
$white-brick-tab-name: 'white_brick_tab'
$white-brick-tab-x: 0px
$white-brick-tab-y: 0px
$white-brick-tab-offset-x: 0px
$white-brick-tab-offset-y: 0px
$white-brick-tab-width: 30px
$white-brick-tab-height: 5px
$white-brick-tab-total-width: 191px
$white-brick-tab-total-height: 4755px
$white-brick-tab-image: '../img/icons.png'
$white-brick-tab: (0px, 0px, 0px, 0px, 30px, 5px, 191px, 4755px, '../img/icons.png', 'white_brick_tab', )
$yellow-pipe-name: 'yellow_pipe'
$yellow-pipe-x: 0px
$yellow-pipe-y: 1308px
$yellow-pipe-offset-x: 0px
$yellow-pipe-offset-y: -1308px
$yellow-pipe-width: 3px
$yellow-pipe-height: 84px
$yellow-pipe-total-width: 191px
$yellow-pipe-total-height: 4755px
$yellow-pipe-image: '../img/icons.png'
$yellow-pipe: (0px, 1308px, 0px, -1308px, 3px, 84px, 191px, 4755px, '../img/icons.png', 'yellow_pipe', )
$yellow-triangle-pipe-name: 'yellow_triangle-pipe'
$yellow-triangle-pipe-x: 0px
$yellow-triangle-pipe-y: 252px
$yellow-triangle-pipe-offset-x: 0px
$yellow-triangle-pipe-offset-y: -252px
$yellow-triangle-pipe-width: 22px
$yellow-triangle-pipe-height: 22px
$yellow-triangle-pipe-total-width: 191px
$yellow-triangle-pipe-total-height: 4755px
$yellow-triangle-pipe-image: '../img/icons.png'
$yellow-triangle-pipe: (0px, 252px, 0px, -252px, 22px, 22px, 191px, 4755px, '../img/icons.png', 'yellow_triangle-pipe', )
$iconSpritesheet-width: 191px
$iconSpritesheet-height: 4755px
$iconSpritesheet-image: '../img/icons.png'
$iconSpritesheet-iconSprites: ($-blue-triangle-left, $-blue-triangle-right, $-blue-triangle-top, $blue-pipe, $blue-triangle-pipe, $collapse-button, $collapse-close, $depositphotos, $facebook, $growthup-logo, $hover-triangle-collapse-menu, $hover-triangle-left, $hover-triangle-right, $hover-triangle-top, $icon1, $icon2, $icon3, $icon-brain-hover, $icon-brain-mob-normal, $icon-brain-normal, $icon-brick, $icon-case-hover, $icon-case-mob-normal, $icon-case-normal, $icon-networking-hover, $icon-networking-mob-normal, $icon-networking-normal, $inner-page-small-yellow-triangle, $inner-page-yellow-triangle, $innerpage-arrow-in-blue-rectangle, $logo, $logo-mob, $logo-on-grey-retangle, $logo-tab, $mark-map-footer, $mark-on-map2, $mark-page2, $taventures-logo, $triangle-menu-active, $triangle-menu-hover, $tumblr, $vk, $white-brick-tab, $yellow-pipe, $yellow-triangle-pipe, )
$iconSpritesheet: (191px, 4755px, '../img/icons.png', $iconSpritesheet-iconSprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include iconSprite-width($icon-home)
//
// .icon-email
//   @include iconSprite($icon-email)
//
// Example usage in HTML:
//   `display: block` iconSprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin iconSprite-width($iconSprite)
  width: nth($iconSprite, 5)

@mixin iconSprite-height($iconSprite)
  height: nth($iconSprite, 6)

@mixin iconSprite-position($iconSprite)
  $iconSprite-offset-x: nth($iconSprite, 3)
  $iconSprite-offset-y: nth($iconSprite, 4)
  background-position: $iconSprite-offset-x  $iconSprite-offset-y

@mixin iconSprite-image($iconSprite)
  $iconSprite-image: nth($iconSprite, 9)
  background-image: url(#{$iconSprite-image})

@mixin iconSprite($iconSprite)
  @include iconSprite-image($iconSprite)
  @include iconSprite-position($iconSprite)
  @include iconSprite-width($iconSprite)
  @include iconSprite-height($iconSprite)

// The `iconSprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include iconSprites($iconSpritesheet-iconSprites)
@mixin iconSprites($iconSprites)
  @each $iconSprite in $iconSprites
    $iconSprite-name: nth($iconSprite, 10)
    .#{$iconSprite-name}
      @include iconSprite($iconSprite)
