<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="veiwport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="holder-wrap">
        <div class="holder">
          <div class="logo"></div>
          <nav class="header-nav clearfix">
            <ul class="clearfix">
              <li><a href="#"><span>О конференции</span></a></li>
              <li><a href="#"><span>Спикеры</span></a></li>
              <li><a href="#"><span>Расписание</span></a></li>
            </ul><a href="#" id="collapse">menu</a>
          </nav>
          <div class="info-block">
            <div class="geotag"></div>
            <div class="title"> 
              <p>Киев</p>
            </div>
            <div class="date"> 
              <p> <span>11</span>Марта</p>
            </div>
          </div>
          <div class="slogan">
            <h1>Одно из крупнейших мероприятий про данные в Восточной Европе</h1>
            <p class="Lead-txt description">этот фестиваль - главная площадка, где встречаются и делятся знаниями люди, заинтересованные в развитии больших данных и машинного обучения.</p>
          </div>
          <div class="start-btn"><a href="#"> <span>Старт</span></a></div>
        </div>
      </div>
      <div class="header-footer">
        <div class="holder-footer">
          <p class="header-footer__org">Организатор конференции: </p>
          <div class="header-footer__logo"></div>
          <p class="header-footer__agency">Data-Driven Digital Agency Septa.</p>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="advantage">
        <div class="holder">
          <div class="advantage_wrap">
            <div class="advantage_block advantage_speakers">
              <div class="advantage_icon"></div>
              <p class="advatage_text p2">2 топ спикера <br/> из Европы и США</p>
            </div>
            <div class="advantage_block advantage_stream">
              <div class="advantage_icon"></div>
              <p class="advatage_text p2">2 потока для <br/> Бизнеса и разработчиков</p>
            </div>
            <div class="advantage_block advantage_reporter">
              <div class="advantage_icon"></div>
              <p class="advatage_text p2">Более <br/> 15 докладчиков</p>
            </div>
          </div>
        </div>
      </div>
      <div class="video-block">
        <div class="video-block_wrap">
          <div class="holder">
            <div class="video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ixD-uLlO69M" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="descript">
              <p class="p3">Kyiv Data Spring - ндно из крупнейших мероприятий про данные в Восочной Европе. Этот фестиваль - главная площадкаб где встричаются и делятся знаниями люди, заинтересованные в развитии больших данных и машинного обучения.</p>
              <p class="p3">Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученные фестиваль объеденит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="time-block">
        <h2 class="when">начало через</h2>
        <div class="time-block__wrap">
          <div class="holder">
            <div class="time-block__row">
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="00"> </span><span class="seconds__wrap-line" data-seconds="01"> </span><span class="seconds__wrap-line" data-seconds="02"> </span><span class="seconds__wrap-line" data-seconds="03"> </span><span class="seconds__wrap-line" data-seconds="04"> </span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="05"> </span><span class="seconds__wrap-line" data-seconds="06"></span><span class="seconds__wrap-line" data-seconds="07"> </span><span class="seconds__wrap-line" data-seconds="08"> </span><span class="seconds__wrap-line" data-seconds="09"> </span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="10"> </span><span class="seconds__wrap-line" data-seconds="11"> </span><span class="seconds__wrap-line" data-seconds="12"> </span><span class="seconds__wrap-line" data-seconds="13"> </span><span class="seconds__wrap-line" data-seconds="14"> </span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="15"> </span><span class="seconds__wrap-line" data-seconds="16"> </span><span class="seconds__wrap-line" data-seconds="17"> </span><span class="seconds__wrap-line" data-seconds="18"> </span><span class="seconds__wrap-line" data-seconds="19"> </span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="20"> </span><span class="seconds__wrap-line" data-seconds="21"> </span><span class="seconds__wrap-line" data-seconds="22"> </span><span class="seconds__wrap-line" data-seconds="23"> </span><span class="seconds__wrap-line" data-seconds="24"></span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="25"></span><span class="seconds__wrap-line" data-seconds="26"></span><span class="seconds__wrap-line" data-seconds="27"></span><span class="seconds__wrap-line" data-seconds="28"></span><span class="seconds__wrap-line" data-seconds="29"></span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="30"></span><span class="seconds__wrap-line" data-seconds="31"></span><span class="seconds__wrap-line" data-seconds="32"></span><span class="seconds__wrap-line" data-seconds="33"></span><span class="seconds__wrap-line" data-seconds="34"></span></div>
              <div class="seconds__wrap"> <span class="seconds__wrap-line" data-seconds="35"></span><span class="seconds__wrap-line" data-seconds="36"></span><span class="seconds__wrap-line" data-seconds="37"></span><span class="seconds__wrap-line" data-seconds="38"></span><span class="seconds__wrap-line" data-seconds="39"></span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="40"></span><span class="seconds__wrap-line" data-seconds="41"></span><span class="seconds__wrap-line" data-seconds="42"></span><span class="seconds__wrap-line" data-seconds="43"></span><span class="seconds__wrap-line" data-seconds="44"></span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="45"></span><span class="seconds__wrap-line" data-seconds="46"></span><span class="seconds__wrap-line" data-seconds="47"></span><span class="seconds__wrap-line" data-seconds="48"></span><span class="seconds__wrap-line" data-seconds="49"></span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="50"></span><span class="seconds__wrap-line" data-seconds="51"></span><span class="seconds__wrap-line" data-seconds="52"></span><span class="seconds__wrap-line" data-seconds="53"></span><span class="seconds__wrap-line" data-seconds="54"></span></div>
              <div class="seconds__wrap"><span class="seconds__wrap-line" data-seconds="55"></span><span class="seconds__wrap-line" data-seconds="56"></span><span class="seconds__wrap-line" data-seconds="57"></span><span class="seconds__wrap-line" data-seconds="58"></span><span class="seconds__wrap-line" data-seconds="59"></span></div>
            </div>
          </div>
          <div class="holder">
            <div class="global-timer">
              <div class="month">
                <p class="month__vlue">02</p>
                <p class="month__descript">Месяцев</p>
              </div>
              <div class="line"></div>
              <div class="days">
                <p class="days__value">20</p>
                <p class="days__deascript">Деней</p>
              </div>
              <div class="line"></div>
              <div class="hours">
                <p class="hours__value">09</p>
                <p class="hours__descript">Часов</p>
              </div>
              <div class="line"></div>
              <div class="minutes">
                <p class="minutes__value">30</p>
                <p class="minutes__descript">Минут</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="where-block">
        <div class="btn-block"><a href="#"><span>Старт</span></a></div>
        <div class="holder">
          <h2 class="where">Где?</h2>
          <p class="where-title Small-txt">Киев, ВДНХ <span>11 марта 11:00</span></p>
        </div>
      </div>
      <div class="tabs-block">
        <div class="holder">
          <div class="tabs-block__wrap">
            <div class="knowledge">
              <div class="icon-wrap"><i class="icon1-normal"></i><i class="icon1-hover"></i></div>
              <div class="text-wrap">
                <h3 class="h3">Новые знания</h3>
                <p class="p1">Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.</p>
              </div>
            </div>
            <div class="case">
              <div class="icon-wrap"><i class="icon2-normal"></i><i class="icon2-hover"></i></div>
              <div class="text-wrap">
                <h3 class="h3">Кейсы</h3>
                <p class="p1">Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.</p>
              </div>
            </div>
            <div class="networking">
              <div class="icon-wrap"><i class="icon3-normal"></i><i class="icon3-hover"></i></div>
              <div class="text-wrap">
                <h3 class="h3">Нейтворкинг</h3>
                <p class="p1">Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="speakers">
        <div class="holder">
          <h2 class="who">Наши спикеры</h2>
          <div class="speakers__wrap">
            <div class="speakers-block1">
              <div class="speakers-inner-block0"><i class="icon"></i>
                <div class="text-wrap">
                  <p class="p2">Константинопольский Николай</p>
                  <p class="Lead-txt">Inweb</p>
                </div>
              </div>
            </div>
            <div class="speakers-block2">
              <div class="speakers-inner-block1"><i class="icon"></i>
                <div class="text-wrap">
                  <p class="p2">Константинопольский Николай</p>
                  <p class="Lead-txt">WebPromoExperts</p>
                </div>
              </div>
            </div>
            <div class="speakers-block3">
              <div class="speakers-inner-block2"><i class="icon"></i>
                <div class="text-wrap">
                  <p class="p2">Константинопольский Николай</p>
                  <p class="Lead-txt">Coral Travel Ukraine</p>
                </div>
              </div>
            </div>
            <div class="speakers-block4">
              <div class="speakers-inner-block3"><i class="icon"></i>
                <div class="text-wrap">
                  <p class="p2">Константинопольский Николай</p>
                  <p class="Lead-txt">Яндекс Украина</p>
                </div>
              </div>
            </div>
          </div>
          <div class="others-wrap">
            <div class="others-block0"><i class="others-icon0"></i>
              <div class="others-txt-block">
                <p class="p2">Константинопольский Николай</p>
                <p class="Lead-txt">Google</p>
              </div>
            </div>
            <div class="others-block1"><i class="others-icon1"></i>
              <div class="others-txt-block">
                <p class="p2">Константинопольский Николай</p>
                <p class="Lead-txt">Google</p>
              </div>
            </div>
            <div class="others-block2"><i class="others-icon2"></i>
              <div class="others-txt-block">
                <p class="p2">Константинопольский Николай</p>
                <p class="Lead-txt">Google</p>
              </div>
            </div>
            <div class="others-block3"><i class="others-icon3"></i>
              <div class="others-txt-block">
                <p class="p2">Константинопольский Николай</p>
                <p class="Lead-txt">Google</p>
              </div>
            </div>
            <div class="others-block4"><i class="others-icon4"></i>
              <div class="others-txt-block">
                <p class="p2">Константинопольский Николай</p>
                <p class="Lead-txt">Google</p>
              </div>
            </div>
            <div class="others-block5"><i class="others-icon5"></i>
              <div class="others-txt-block">
                <p class="p2">Константинопольский Николай</p>
                <p class="Lead-txt">Google</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cost">
        <div class="holder">
          <h2 class="price">Цена</h2>
          <div class="cost-wrap">
            <div class="current-block">
              <p class="current-title">Актуальная цена</p>
              <p class="curent-cost">2700<span class="p3">грн</span></p>
              <div class="bynow-btn"><a href="#"><span>купить сейчас</span></a></div>
            </div>
            <div class="anotherday-block">
              <p class="another-title">цена через<span> 32 </span>дня</p>
              <p class="another-cost">3200<span class="p3">грн</span></p>
              <div class="byanotherday-btn"><a href="#"><span>купить потом</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ten-cases">
        <div class="holder">
          <div class="text-wrapper">
            <p class="main-text">Хотите узнать, как большие данные и машинное обучение уже приносят пользу бизнесу?</p>
            <p class="secondary-text">Мы собрали 10 самых интересных кейсов об этом. </p>
          </div>
          <div class="btn-discover"><a href="#"><span>узнать</span></a></div>
        </div>
      </div>
      <div class="schedule">
        <div class="holder">
          <div class="stages-wrap">
            <div class="business-stage-wrap">
              <div class="business-stage">
                <p class="title">Business stage</p>
                <p class="descript">Поток для менеджеров, владельцев бизнеса и маркетологов, где делятся идеями и кейсами, как применять большие данные и машинное обучение в бизнесе.</p>
              </div>
              <div class="schedule-item0">
                <div class="pipe"></div>
              </div>
              <div class="schedule-item1">
                <p class="time p2">9:00</p>
                <p class="speaker p2">Руслан Савчишин, MagneticOne Group</p>
              </div>
              <div class="schedule-item2">
                <div class="pipe"></div>
                <p class="descript p1">Value Based Pricing: как определить цену на свой SaaS продукт</p>
              </div>
              <div class="schedule-item3">
                <p class="time p2">9:00</p>
                <p class="speaker p2">Руслан Савчишин, MagneticOne Group</p>
              </div>
              <div class="schedule-item4">
                <div class="pipe"></div>
              </div>
              <div class="schedule-item5">
                <p class="time p2">9:00</p>
                <p class="speaker p2">Руслан Савчишин, MagneticOne Group</p>
              </div>
            </div>
            <div class="it-stage-wrap">
              <div class="it-stage">
                <p class="title">IT stage</p>
                <p class="descript">Поток для разработчиков и ученых, которые создают новые технологии.</p>
              </div>
              <div class="schedule-item0">
                <div class="pipe"></div>
              </div>
              <div class="schedule-item1">
                <p class="time p2">9:00</p>
                <p class="speaker p2">Руслан Савчишин, MagneticOne Group</p>
              </div>
              <div class="schedule-item2">
                <div class="pipe"></div>
                <p class="descript p1">Value Based Pricing: как определить цену на свой SaaS продукт</p>
              </div>
              <div class="schedule-item3">
                <p class="time p2">9:00</p>
                <p class="speaker p2">Руслан Савчишин, MagneticOne Group</p>
              </div>
              <div class="schedule-item4">
                <div class="pipe"></div>
              </div>
              <div class="schedule-item5">
                <p class="time p2">9:00</p>
                <p class="speaker p2">Руслан Савчишин, MagneticOne Group</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cost">
        <div class="holder">
          <h2 class="price">Цена</h2>
          <div class="cost-wrap">
            <div class="current-block">
              <p class="current-title">Актуальная цена</p>
              <p class="curent-cost">2700<span class="p3">грн</span></p>
              <div class="bynow-btn"><a href="#"><span>купить сейчас</span></a></div>
            </div>
            <div class="anotherday-block">
              <p class="another-title">цена через<span> 32 </span>дня</p>
              <p class="another-cost">3200<span class="p3">грн</span></p>
              <div class="byanotherday-btn"><a href="#"><span>купить потом</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="sponsor">
        <div class="holder">
          <h2 class="sponsor_title">Спонсоры</h2>
          <div class="sponsor_wrap">
            <div class="sponsor_item0"></div>
            <div class="sponsor_slash"></div>
            <div class="sponsor_item1"></div>
            <div class="sponsor_slash"></div>
            <div class="sponsor_item2"></div>
            <div class="sponsor_slash"></div>
            <div class="sponsor_item3"></div>
          </div>
        </div>
      </div>
      <div class="partners">
        <div class="holder">
          <h2 class="partners_title">Партнеры</h2>
          <div class="partners_wrap0">
            <div class="partners_item0"></div>
            <div class="partners_slash"></div>
            <div class="partners_item1"></div>
            <div class="partners_slash"></div>
            <div class="partners_item2"></div>
            <div class="partners_slash"></div>
            <div class="partners_item3"></div>
          </div>
          <div class="partners_wrap1">
            <div class="partners_item4"></div>
            <div class="partners_slash"></div>
            <div class="partners_item5"></div>
            <div class="partners_slash"></div>
            <div class="partners_item6"></div>
            <div class="partners_slash"></div>
            <div class="partners_item7"></div>
          </div>
        </div>
      </div>
      <div class="form-block">
        <div class="holder">
          <div class="form-block_wrap">
            <h3 class="descript">Быть в кусре всего что здесь происходит </h3>
            <form class="form">
              <input type="text" name="email" value="Введите вашу почту"/>
            </form>
            <div class="form-btn"><a><span>Подписаться</span></a></div>
          </div>
        </div>
      </div>
      <div class="map">
        <div class="holder">
          <div class="mark"></div>
        </div>
      </div>
      <div class="footer">
        <div class="holder">
          <div class="footer-wrap">
            <div class="org-block">
              <p class="descript">Организатор конференции:</p>
              <p class="agency">Data-Driven Digital Agency Septa.</p>
            </div>
          </div>
          <div class="footer-pipe"></div>
          <div class="networks">
            <div class="vk"></div>
            <div class="fb"></div>
            <div class="be"></div>
          </div>
          <p class="copyright">Copyright © 2016. All rights reserved</p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="holder"></div>
    </footer>
  </div>
  <script src="../js/main.js"></script>
</body>