<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width-device-width, initial-scale=1.0")
    title Inner
    link(rel="stylesheet" href="css/main.css")
  body
    .wrapper
      .innerpage__welcome-screen
        .holder
          .logo
          .text-block
            h1 хотите узнать,
            h2.submain-text как большие данные
            h2 и машинное обучение уже приносят пользу бизнесу
            h3 мы собрали 10 самых интересных кейсов об этом
      .e-form
        .holder
          h2.second-screen__title Подготоатесь к
            span  Kyiv Data Spring
          h2.second-screen__subtitle и узнайте про лучшие примеры использвани данных в бизнесе
          .case-form
            .little-triangle
            h3.text
              |Оставьте свою почту
              br
              | и получить наш сборник кейсов про данные и машинное обучение.
            form.inner-form(action='action.php')
              input(type='text' name='' value='')
              input(type='submit' name='submit' value='отправить')
      .cases
        .holder
          h2.title кейсы
          .cases-wrapper
            .case1-wrap
              .case1
                .case-img
                .case-title
                  h3.h3 Название кейса
                .case-text
                  p.p1 Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.
            .case2-wrap
              .case2
                .case-img
                .case-title
                  h3.h3 Название кейса
                .case-text
                  p.p1 Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.
            .case3-wrap
              .case3
                .case-img
                .case-title
                  h3.h3 Название кейса
                .case-text
                  p.p1 Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.

      button.get-cases-btn(type='button' title="кейсы" alt="получить кейсы" )
        span хочу получить 7 полезных кейсов
      .map
        .holder
          .mark
      .footer
        .holder
          .footer-wrap
            .org-block
              p.descript Организатор конференции:
              p.agency Data-Driven Digital Agency Septa.
          .footer-pipe
          .networks
            .vk
            .fb
            .be
          p.copyright Copyright © 2016. All rights reserved



script(src="js/libs.min.js")
script(src="js/main.js")






